/* LXGW WenKai */
@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        local('LXGW WenKai Light'),
        url('./fonts/LXGWWenKai-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('LXGW WenKai'),
        url('./fonts/LXGWWenKai-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local('LXGW WenKai Bold'),
        url('./fonts/LXGWWenKai-Bold.ttf') format('truetype');
}


@import 'variables.css';


html {
    font-family: "LXGW WenKai", "Open Sans", sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    text-size-adjust: none;
}
